div {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1fr, 6);
    grid-template-rows: 15% 80% 5%;
}

header, footer {
    grid-column: span 6;
}

main {
    grid-column: span 5;
}